.App {
  text-align: center;
}

/* Navbar */
.mainN {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #00287e;
  color: #fff;
}

svg {
  font-size: 1.8rem;
  margin: 2%;
}

.oneN,
.threeN {
  display: inline-flex;
  margin-left: 2%;
  align-items: center;
}

input {
  border: none;
}

h4 {
  text-align: center;
}

.time,
.date {
  width: 100%;
  display: flex;
  margin-bottom: inherit;
  padding: 1rem;
  font-size: 12px;
}

.threeN {
  margin-right: 2%;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #4369b2 !important;
}

.text-bg-blue {
  width: 50%;
  color: #fff !important;
  background-color: #1f458b !important;
}

.text-bg-blue:hover,
.text-bg-blue:active {
  background-color: #1d4ea8 !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.4rem;
}

.grid .text-bg-blue:nth-child(even) {
  background-color: #00205a;
}

.adjust-heading {
  display: flex;
  justify-content: space-between;
}

.icon-size {
  font-size: 1.2rem;
}

footer {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #00287e;
  color: #fff;
  position: sticky;
  bottom: 0;
}

.Highlight {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  z-index: 999;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0000ad;
  opacity: 50%;
  height: 100%;
}

.search {
  width: 100%;
  height: 5vh;
}

/* Media Query for Heading Desktop */
@media screen and (min-width: 768px) {
  .Highlight {
    margin-top: 10%;
  }
}
