.App {
  text-align: center;
}

/* Navbar */
.mainN {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #00287e;
  color: #fff;
}

svg {
  font-size: 1.8rem;
  margin: 2%;
}

.oneN,
.threeN {
  display: inline-flex;
  margin-left: 2%;
  align-items: center;
}

input {
  border: none;
}

.time,
.date {
  width: 100%;
  display: flex;
  margin-bottom: inherit;
  padding: 1rem;
}

.threeN {
  margin-right: 2%;
  align-items: center;
}

body {
  background-color: #4369b2;
}
